* {
  padding: 0px;
  margin: 0px;
}
body {
  padding: 0px;
  margin: 0px;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
.width {
  margin: 0 auto;
  width: 80%;
  background-size: 100% 40px;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  padding-bottom: 5px
}
.width, .header {
  background-image: linear-gradient(to bottom, #eee, #ccc);
  background-image: -moz-linear-gradient(to bottom, #eee, #ccc);
  background-image: -o-linear-gradient(to bottom, #eee, #ccc);
  background-image: -webkit-linear-gradient(to bottom, #eee, #ccc);
  background-image: -ms-linear-gradient(to bottom, #eee, #ccc);
  background-position: 0% 100%;
  background-repeat: no-repeat
}
.header {
  height: 90px;
  background-size: 100% 15px;
  margin: 20px 0px 0px 0px;
  position: relative;
}
.header:after {
  content:'';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 15px 15px 15px;
  border-color: transparent transparent #eee transparent;
  position: absolute;
  bottom: 15px;
  left: 220px;
}
.logo {
  background-color: #fff;
  height: 90px;
  padding-right: 75px;
  float: left;
}
.h3 {
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
  font-weight: normal1;
  font-size: 14px;
  line-height: 14px;
  width: 120px;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(to bottom, #808080, #000);
  left: 55px;
  position: absolute;
  bottom: 0px;
  height: 15px;
  overflow: hidden;
}
.h1, .h2 {
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.h1 {
  font-size: 30px;
  padding-top: 10px;
}
.h2 {
  font-size: 14px;
}
.nav {
  list-style: none;
  font-family: Arial Narrow,Arial,sans-serif;
  position: absolute;
  right: 50px;
  bottom: 15px;
}
.nav a {
  font-size: 20px;
  color: #808080;
  padding: 0px 20px;
  display: block;
  border: 3px solid #eee;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  background-color: #fff;
}
.nav a:hover, .register:hover {
  background-image: linear-gradient(to bottom, #69973C, #415C25);
  background-image: -o-linear-gradient(to bottom, #69973C, #415C25);
  background-image: -moz-linear-gradient(to bottom, #69973C, #415C25);
  background-image: -webkit-linear-gradient(to bottom, #69973C, #415C25);
  background-image: -ms-linear-gradient(to bottom, #69973C, #415C25);
  color: #fff;
}
.nav li, .menu li {
  display: inline-block;
}
.footer {
  width: 60%;
  margin: 10px auto;
  background-color: #fff;
  border: 3px solid #eee;
  border-radius: 10px;
  padding: 5px 20px;
}
.footer img {
  height: 35px;
  float: left;
  margin-right: 30px;
}
.footer p {
  font-size: 10px;
  margin-top: -5px;
}
.menu {
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}
.footer .menu {
  text-align: left;
  border: none
}
h4 {
  font-size: 60px;
  font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
  font-weight: normal;
  margin: 20px 90px
}
h4:first-letter {
  color: #69973C;
}
.article {
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent transparent #eee;
  border-radius: 70px;
  padding: 20px;
}
.article figure {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.arrow, .article figure {
  vertical-align: middle;
  display: inline-block;
}
.first figure img {
  border: 7px solid #eee;
  border-radius: 100%;
  margin-bottom: 20px;
}
.first {
  text-align: center;
}
.description {
  padding: 0px 0px 20px 60px;
  font-size: 14px;
  line-height: 18px;
  font-family: Verdana,Geneva,sans-serif;
}
.why-img {
  float: left;
  margin-right: 30px;
}
.why {
  list-style: none;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 18px;
    margin-left: 95px;
}
.clear {
  clear: both;
  height: 20px;
  background-color: #fff;
  background-image: linear-gradient(45deg, transparent 0px, transparent 26px, #F5F5F5 26px, #F5F5F5 31px, transparent 31px, transparent 50px), linear-gradient(-45deg, transparent 0px, transparent 26px, #F5F5F5 26px, #F5F5F5 31px, transparent 31px, transparent 50px);
  background-image: -o-linear-gradient(45deg, transparent 0px, transparent 26px, #F5F5F5 26px, #F5F5F5 31px, transparent 31px, transparent 50px), -o-linear-gradient(-45deg, transparent 0px, transparent 26px, #F5F5F5 26px, #F5F5F5 31px, transparent 31px, transparent 50px);
  background-image: -moz-linear-gradient(45deg, transparent 0px, transparent 26px, #F5F5F5 26px, #F5F5F5 31px, transparent 31px, transparent 50px), -moz-linear-gradient(-45deg, transparent 0px, transparent 26px, #F5F5F5 26px, #F5F5F5 31px, transparent 31px, transparent 50px);
  background-image: -webkit-linear-gradient(45deg, transparent 0px, transparent 26px, #F5F5F5 26px, #F5F5F5 31px, transparent 31px, transparent 50px), -webkit-linear-gradient(-45deg, transparent 0px, transparent 26px, #F5F5F5 26px, #F5F5F5 31px, transparent 31px, transparent 50px);
  background-repeat: repeat;
  background-size: 40px 40px;
  width: 60%;
  margin: 20px auto;
}
.second {
  border-color: transparent
}
.price-category figure img {
  border-radius: 10px;
  width: 100%;
}
.price-category figure{
  width: 40%;
  min-width: 360px;
}
.between {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  border-radius: 100%;
  padding: 5px;
  margin: 0px 5px 0px 20px;
  background-color: #eee;
  position: relative;
}
.between:before {
  content:'';
  width: 1px;
  height: 300%;
  position: absolute;
  background-color: #eee;
  top: -100%;
  left: 50%;
  z-index: -1;
}
.table {
  width: 80%;
  margin: 0px 0px 10px 95px;
  font-size: 14px;
  border-collapse: collapse;
}
.table td {
  padding: 5px;
  text-align: center;
  border-left: 1px solid #ccc;
}
.table td:first-child {
  border-left: none;
}
.table tr:first-child {
  background-color: #eee;
}
.table tr:last-child {
  background-color: #69973C;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
.conditions {
  font-size: 10px;
  font-style: italic;
  margin-left: 95px;
}
.register {
  display: block;
  position: relative;
  margin: 30px auto;
  border: 4px solid #eee;
  border-radius: 20px;
  height: 26px;
  line-height: 26px;
  width: 160px;
  text-align: center;
  background-color: #fff;
}
.register:before {
  content:'';
  position: absolute;
  height: 4px;
  width: 200%;
  display: block;
  background-color: #eee;
  left: -50%;
  top: 11px;
  z-index: -1;
}


